[build]
target = "thumbv7em-none-eabihf"

[target.thumbv7em-none-eabihf]
runner = "gdb -x simple.gdb"
# runner = "arm-none-eabi-gdb"
# Chip can be set via `--chip STM32F303VCTx` or `export PROBE_RUN_CHIP=STM32F303VCTx`
# runner = "probe-rs run --chip STM32F303VCTx --connect-under-reset"
rustflags = [
    #    "-C", "link-arg=--nmagic",
    #    "-C", "link-arg=-Tlink.x",
]

# With HSI clock opt-level=0 produces a very slow application which
# has 10 kHz interrupt frequency instead of the expected 100 kHz
[profile.dev]
opt-level = 1
