[build]
target = "thumbv7em-none-eabihf"

[target.thumbv7em-none-eabihf]
runner = "gdb -x D:/Projects/embedded/rust/generic/nucleo-f302-spwm/f302-spwm/simple.gdb"
# runner = "arm-none-eabi-gdb"
# Chip can be set via `--chip STM32F303VCTx` or `export PROBE_RUN_CHIP=STM32F303VCTx`
# runner = "probe-rs run --chip STM32F303VCTx --connect-under-reset"
rustflags = [
    #    "-C", "link-arg=--nmagic",
    #    "-C", "link-arg=-Tlink.x",
]
